*{
    list-style: none;
    text-decoration: none;
    color: inherit;
    border: none;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.headerMain{
    font-size: 5rem;
    font-weight: 600;
}

.subHeader{
    font-size: 1.8rem;
    font-weight: 500;
}
.headerLogo{
    font-size: 1.8rem;
    font-weight: 500;
}
.text{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

button{
    padding: 10px  21px;
    background:linear-gradient(90deg, #ef8f56, #ecbb41  );
    font-size: 1.2rem;
    font-weight: 500;
    color: white
}
.full-bttn{
    width: 100%;
}
.LoadingBG{
    position: fixed;
    background: white;
    color: black;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
    zoom: 90%;
    top: 0;
    transform: translateY(-20px);
}
.vi{
    width: 600px;
    overflow: hidden;
}
.vi img{
    width: 100%;
}

/* text */
.text-width-300{
    width: 300px;
}
.text-width-500{
    width: 500px;
}
.al-text-right{
    text-align: right;
}
/* padding */
.pad-b-1{
    padding-bottom: 20px;
}
.pad-b-2{
    padding-bottom: 30px;
}

/* margin */
.mar-b-1{
    margin-bottom: 20px;
}
.feeds-acu{
    width: 90vw;
    overflow-x: scroll;
    margin: 40px 100px 50px;
}
.feedbox-wrap{
    display: flex;
    gap: 40px;
    width: fit-content;
}

.feeds{
    height: 220px;
    width: 350px;
    background: black;
}


@media screen and (max-width: 500px) {
    .headerLogo{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .headerMain{
        font-size: 3rem;
        font-weight: 600;
    }
    .text{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 35px;
    }
    .text-width-500{
        width: 300px;
    }
    .feedbox-wrap{
        display: flex;
        gap: 30px;
        width: fit-content;
    }
    .feeds-acu {
        margin: 40px 25px 50px;
    }
    .feeds{
        height: 210px;
        width: 290px;
        background: black;
    }
    .al-text-right {
        text-align: left;
    }
}

*{
    text-align: inherit;
    list-style: none;
    text-decoration: none;
    color: inherit;
    border: none;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_Hero{
    font-size: 4.5rem;
    font-weight: 600;
}
.text_HeroSub{
    font-size: 5.5rem;
    font-weight: 700;
}
.mask_TextInfo{
    height: fit-content;
    overflow: hidden;
}
section{
    position: relative;
    background-color: white;
}
.moveBox_circle{
    width: 120px;
    height: 120px;
    background: black;
    position: absolute;
    right: 20px;
    top: 150vh;
    border-radius: 200px;
    animation: round 3s  0s  infinite  ease-in-out;
}
.moveBox_circle img{
    color: black;
}
.text_Normal{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}
.text_Header{
    font-size: 2.5rem;
    font-weight:700;
    /* line-height: 30px; */
}

button{
    height: fit-content;
    width: fit-content;
    padding:14px 20px;
    border: none;
    background:  orangered;
    color: white;
    font-size: 1.2rem;
}
.footer{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    height: 10vh;
}
.company{
    display: flex;
    gap: 30px;
}
.footer p{
    font-size: 1rem;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

@media screen and (min-width: 800px) {
    
    .moveBox_circle{
        width: 220px;
        height: 220px;
        background: black;
        position: absolute;
        right: 180px;
        top: 180px;
        border-radius: 200px;
    }
    .moveBox_circle img{
        color: black;
    }
    .textSection_about{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
    }
    .textSection_about  .moveBox_circle{
        position: initial;
    }
    .footer{
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 65px;
        color: white;
        height: 10vh;
    }
}


@keyframes round {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(60deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}