#umu-about{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.umu-wrap{
    display:flex;
    justify-content: space-between;
    zoom: 95%;
}
.aboutImg1{
    top: 2800;
    left: -160px;
    position: absolute;
    height: 560px;
    width: 550px;
    background: black;
    transform: translateY(50px);

}
.aboutImg2{
    bottom: 0;
    right: -160px;
    position: absolute;
    height: 480px;
    width: 510px;
    background: black;
    transform: translateY(80px);

}
.text-box{
    width: 380px;
    margin: 30px 70px 0;
    zoom: 110%;
}
.img2-about{
    height: 500px;
    width: 360px;
    background: black;
    transform: translateY(100px);
}

.about_text{
    font-size: 6rem;
    margin-top: 150px;
    margin-bottom: 20px;
}

.slideInfo{
    width: 400px;
}
.wrap-umu{
    margin-left: 150px;
}

#umu-SlideShow{
    display: flex;
    align-items: center;
    height: 100vh;
}

.frameHall-about{
    display: flex;
    justify-content: center;
}
.info-wrap-hall{
    text-align: center;
}
.videoMashup{
    height: 400px;
    width: 800px;
    background: black;
    margin-bottom: 120px;
    margin-top: 70px;
}

/* info-wrap-hall */
#workWith{
    padding-top: 120px;
}
.info-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info-vid{
    display: flex;
    justify-content: center;
}

.wrap-work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 120px 70px;
}
.workimg-info{
    height: 400px;
    width: 380px;
    background: black;
}