.text-box{
    margin-top: 160px;
    padding: 30px 30px 70px;
}
.text_header{
    font-size: 5rem;
}
.wrapAbl_img{
    height: 340px;
    width: 280px;
    background: black;
    overflow: hidden;
}
.Album{
    margin-bottom: 100px;
    width: 96vw;
    overflow: scroll;
}
.Alb_img{
    width: 280px;
}
.Alb_img p{
    font-size: 1.6rem;
    width: inherit;
}
.Abl_warp{
    display: flex;
    padding-right: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
    gap: 20px;
    width: fit-content;
}
.wrapAbl_img img{
    width: 100%;
}

@media screen and (min-width: 800px) {
    .Album::-webkit-scrollbar{
        display: none;
    }
    .Album{
        margin-bottom: 100px;
        width: 96vw;
        overflow: scroll;
        padding-left: 80px;
    }
    .umu-about{
        padding: 20vw;
    }
    .text-box{
        margin-top: 160px;
        padding: 30px 80px 70px;
    }
    .wrapAbl_img{
        height: 540px;
        width: 480px;
        background: black;
       
        overflow: hidden;
    }
    .Abl_warp{
        display: flex;
        padding-right: 60px;
        padding-left: 40px;
        padding-bottom: 40px;
        gap: 20VW;
        width: fit-content;
    }
}