.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text_Hero_trans{
    /* transform: translateY(50px); */
}

.socials_hero{
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
}
.social_boxes{
    height: 35px;
    width: 35px;
    background: black;
}

.back_bg{
    height: 100vh;
    position: absolute;
    width: 100%;
    background: black;
    /* transform: translateX(30px); */
    top: 0;
    z-index: -1;
}

.aboutSection{
    margin-top: 60px;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
}
.aboutImg{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.img_about_wrap{
    height: 40vh;
    width: 90vw;
    background: white;
}

.textSection_about{
    /* width: 87vw; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.store_img{
    top: 20px;
    right: -40px;
    position: absolute;
    overflow: hidden;
    height: 350px;
    width: 300px;
    transform: rotateZ(8deg);
}
.store_img img{
    width: 500px;
}

.storeSection{
    margin-top: -40px;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

.info_Store{
    padding: 60vh 30px 0;

}

.info_Store p{
    width: 250px;
}
.info_Store h1{
    margin-top: 20px;
}
.info_Store button{
    margin-top: 30px;
}


.storeCards_Slide{
    width: 98vw;
    overflow-x: scroll;
    margin: 80px 0 100px;
    padding-bottom: 30px;
}
.card_wrap{
    width: fit-content;
    margin-left: 60px;
    display: flex;
    gap: 30px;
}


.youtubeSection{
    margin: -80px 0 80px;
}
.youtube_img{
    top: 20px;
    left: -40px;
    position: absolute;
    overflow: hidden;
    height: 350px;
    width: 300px;
    transform: rotateZ(-8deg);
}
.youtube_img img{
    width: 500px;
}

.youtube_info{
    /* position: absolute; */
    right: 0;
    padding: 60vh 30px 0;
}
.youtubeEbm{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}
.you_wrap{
    height: 36vh;
    width: 87vw;
    background: black;
}
.youtube_info button{
margin-top: 30px;
}
.textSection_about p{
    padding: 40px 30px 0;
}

@media screen and (min-width: 800px) {
    .img_about_wrap{
        height: 80vh;
        width: 60vw;
    }
    .back_bg{
        height: inherit;
        position: absolute;
        width: 100%;
        background: black;
        /* transform: translateX(30px); */
        top: 0;
        z-index: -1;
    }
    .aboutSection{
        margin-top: 90px;
        position: relative;
        height: 150vh;
        width: 100vw;
        overflow: hidden;
        color: white;
    }
    .aboutImg{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    .textSection_about{
        /* padding: 0 10vw ; */
        display: flex;
    }
    .textSection_about p{
        width: 440px;
    }

    .store_img{
        top: 60px;
        right: -40px;
        position: absolute;
        overflow: hidden;
        height: 550px;
        width: 700px;
        transform: rotateZ(5deg);
    }
    .store_img img{
        width: 100%;
    }
    .storeSection{
        margin-top: -86px;
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
    }
    .info_Store{
        padding: 30vh 120px 0;
    
    }
    .info_Store .text_Header{
        width: 400px;
        margin-top: 20px;
        font-size: 5rem;
    }
    .storeCards_Slide{
        display: flex;
        justify-content: center;
        width: 98vw;
        overflow-x: hidden;
        margin: 130px 0 100px;
        padding-bottom: 30px;
    }
    .card_wrap{
        width: fit-content;
        margin-left: 60px;
        display: flex;
        gap: 80px;
    }
    .youtube_img{
        top: 60px;
        left: -70px;
        position: absolute;
        overflow: hidden;
        height: 550px;
        width: 700px;
        transform: rotateZ(-5deg);
    }
    .youtube_img img{
        width: 100%;
    }
    .mainyo{
        display: flex;
        justify-content: right;
        width: 500px;
    }
    .youtube_info .text_Header{
        width: 400px;
        margin-top: 20px;
        font-size: 5rem;
    }
    .youtube_info{
        position: absolute;
        right: 0;
        padding: 30vh 30px 0;
        width: 500px;
    }
    .you_wrap{
        height: 56vh;
        width: 67vw;
        background: black;
    }
    .youtubeEbm{
        display: flex;
        justify-content: center;
        padding-top: 100vh;
    }
}