.navs{
    display: flex;
    gap: 40px;
}
.navList a{
    opacity: .6;
    transition: 0.5s;
}
.navList a:hover{
    opacity: 1;
    transition: 0.5s;
}
nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: white;
    color: black;
    /* height: 13vh; */
    overflow: hidden;
    top: 0;
    transform: translateY(-100px);

    animation: downNav 1s  3.9s forwards  ease-in-out;
    /* box-sizing: content-box; */
}
.logoTitle{
    display: flex;
    align-items: center;
    transform: translateX(-20px);
}
.navwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.vilo{
    width:60px;
    height:60px;
    /* height: 120px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vilo img{
    width: 200%; 
}
.hamBugerMenu{
    display: none;
}
.drop_List{
    display: none;
}

/* responsive */
@media screen and (max-width: 600px) {
    .navwrap{
        padding: 20px 20px;
    }
    .navs{
        display: none;
    }
    .hamBugerMenu{
        display: block;
        height: 30px;
        width: 30px;
    }
    .drop_List{
        display: flex;
        height: 100vh;
        background: white;
        position: fixed;
        z-index: 99;
        width: 100%;
        top :0;
        color: black;
        align-items: left;
        justify-content: baseline;
        gap: 20px;
    flex-direction: column;
    padding-top: 250px;
    padding-left: 30px;
    }
    .logoTitle{
        display: flex;
        align-items: center;
        transform: translateY(-3px);
    }
    .drop_List a{
        font-size: 3.5rem;
        font-weight: 700;
    }
    .vilo{
        width: 50px;
        height: 50px;
        overflow: hidden;
        transform: translateY(4px);

    }
}


@keyframes downNav {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);

    }
}