.navs{
    display: flex;
    gap: 40px;
    zoom: 90%;
}
.navList a{
    opacity: .6;
    transition: 0.5s;
}
.navList a:hover{
    opacity: 1;
    transition: 0.5s;
}
nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: white;
    color: black;
    
}
.navwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.hamBugerMenu{
    display: none;
}
.drop_List{
    display: none;
}

/* responsive */
@media screen and (max-width: 500px) {
    .navwrap{
        padding: 20px 20px;
    }
    .navs{
        display: none;
    }
    .hamBugerMenu{
        display: block;
        height: 30px;
        width: 30px;
        background: black;
    }
    .drop_List{
        display: flex;
        height: 100vh;
        background: white;
        position: fixed;
        z-index: 99;
        width: 100%;
        top :0;
        color: black;
        align-items: center;
        gap: 40px;
    flex-direction: column;
    padding-top: 180px;
    }
}