.StoreImg{
    height: 250px;
    width: 250px;
    background: rgb(251, 251, 251);
    box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.135);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StoreImg img{
    zoom: 20%;
}
.StoreCard{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .StoreImg{
        height: 250px;
        width: 300px;
    }
    .StoreCard{
        width: 280px;
        zoom: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}